body{
  min-height:100vh;
  background-image:url("../img/minecraft1.jpg");
  background-size:cover;
  background-position:center;
  animation:bgChange 12s infinite;
}

@keyframes bgChange{
  0%{background-image:url("../img/minecraft1.jpg")}
  50%{background-image:url("../img/minecraft2.jpg")}
  100%{background-image:url("../img/minecraft3.jpg")}
}
